<div class="btn btn-outline-secondary text-start p-3 w-100 traje-card">
	<div class="d-flex align-items-center justify-content-center mb-3">
		<div class="traje-icon">
			<i class="bi bi-info-circle"></i>
		</div>
		<h6 class="fw-bold mb-0 ms-2">Trajes</h6>
	</div>

	<div class="d-flex align-items-center mb-2">
		<div class="traje-badge bg-azul">
			<i class="bi bi-book"></i>
		</div>
		<span><strong>Evangelização:</strong> Terno</span>
	</div>

	<div class="d-flex align-items-center">
		<div class="traje-badge bg-roxo">
			<i class="bi bi-music-note-beamed"></i>
		</div>
		<span><strong>Música:</strong> Camisa branca, calça preta</span>
	</div>
</div>
